*The codes were developed on Windows 10, and might not work on other machines*

**First, import the provided reservoir data, and process them to obtain clean input data for future calculation.**

In [ ]:
! pip install pandas==0.23.4 xlrd==1.1.0

In [239]:
import pandas as pd
import numpy as np

data = pd.read_excel('LonghornReservoir.xlsx', sheet_name='Sheet1')

well_x = data['Well-X (ft)']
well_y = data['Well-Y (ft)']
well_netpay = data['Net Pay (ft)']
well_phi  = data['Porosity']
well_Bo = data['Bo (RB/STB)']
num_well = data.shape[0]

input_data = pd.concat([well_x, well_y, well_netpay, well_phi, well_bo], axis=1)

print('Number of Wells :', num_well)
input_data.head()

Number of Wells : 38

   Well-X (ft)  Well-Y (ft)  Net Pay (ft)  Porosity  Bo (RB/STB)
0       1402.5       1072.5          54.0    0.2475     1.170277
1       1622.5       2117.5          12.0    0.2455     1.170426
2       1622.5       2227.5          12.0    0.2557     1.170429
3       1127.5       1732.5          21.0    0.2796     1.170380
4       1182.5       2667.5           7.0    0.1876     1.170437

**Second, import the provided reservoir geometry data**

In [240]:
reservoir_geometry = pd.read_excel('Reservoir-Geometry.xlsx', header=None)
reservoir_geometry.head()

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0

In [241]:
# Before moving on, convert the data in Pandas Dataframe into Numpy Array for future calculation

input_data = input_data.values                     # <class 'numpy.ndarray'>
reservoir_geometry = reservoir_geometry.values     # <class 'numpy.ndarray'>

**Next, covert the provided "Kriging_Reservoir.m" MATLAB code into Python code**

(I) Required variable statements

In [242]:
# Grid Size - (ft)
dx = 55
dy = 55

# Number of grid blocks
num_grid_x = 106
num_grid_y = 69

# Variagram Function
C0 = 2;    # Nugget - variance at zero distance
a = 2000   # Range - the distance at which the semivariogram levels off and beyond which the semivariance is constant
sill = 20  # Sill - the constant semivariance value beyond the range

# Variogram Function
def gamma_comp(C0, a, sill, h):
    if h == 0:
        y = 0
    elif h > a:
        y = C0 + sill
    else:
        y = C0 + sill * (1.5 * h / a - 0.5 * (h / a) ** 3)
    return y

(II) Matrix Construction

In [243]:
# K-Matrix
K = np.zeros(shape=(num_well + 1, num_well + 1)) # Initialization

for i in range(num_well - 1):
    
    for j in range(i + 1, num_well):
        h = np.sqrt( (well_x[i] - well_x[j])**2 + (well_y[i] - well_y[j])**2 ) # Distance between point-i to point-j
        K[i, j] = C0 + sill - gamma_comp(C0, a, sill, h)
        K[j, i] = K[i, j]        

for i in range(num_well):
    K[i, i] = C0 + sill
    K[i, num_well] = 1
    K[num_well, i] = 1
K[num_well, num_well] = 0

(III) Create meshgrid for visualization

In [230]:
X = np.arange(dx / float(2), num_grid_x * dx - dx / float(2) + dx, dx) # Add dx at the upper limit to make it 1 X 106 array
Y = np.arange(dy / float(2), num_grid_y * dy - dy / float(2) + dy, dy) # Otherwise it will be 1 X 105 array
[x, y] = np.meshgrid(X, Y)

(IV) Compute the netpay, porosity and Bo at each grid block

In [246]:
# Matrix initialization
netpay = np.zeros(shape=(num_grid_y, num_grid_x))
phi    = np.zeros(shape=(num_grid_y, num_grid_x))
Bo     = np.zeros(shape=(num_grid_y, num_grid_x))
M2     = np.zeros(shape=(num_well + 1, 1))
M2[num_well, 0] = 1

for i in range(num_grid_y):
    
    for j in range(num_grid_x):

        if reservoir_geometry[j, i] == 1:
            
            for k in range(num_well):
                h = np.sqrt( (x[i, j] - well_x[k])**2 + (y[i, k] - well_y[k])**2 )
                
                # M2-Matrix
                M2[k, 0] = C0 + sill - gamma_comp(C0, a, sill, h)
            
            sol = np.linalg.solve(K, M2)
            
            netpay[i, j] = np.matrix(well_netpay) * sol[: -1]
            phi[i, j]    = np.matrix(well_phi) * sol[: -1]
            Bo[i, k]     = np.matrix(well_Bo) * sol[: -1]
            
        else:
            netpay[i, j] = 0
            phi[i, j]    = 0
            Bo[i, k]     = 0           

netpay = netpay.T
phi = phi.T
Bo = Bo.T